<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/aop  http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd"
	default-lazy-init="true">
	<description>导入项目中的各个组件的applicationContext文件列表</description>
	<context:property-placeholder location="classpath:applicationContext.properties" />

	<!-- modules -->
	<import resource="classpath*:applicationContext-dao.xml" />
	<import resource="classpath*:applicationContext-service.xml" />

	<context:component-scan base-package="com.shareness.rest.controller" />

	<!-- propertiesLoader -->
	<bean id="propertiesLoader" class="org.cosmos.modules.utils.PropertiesLoader">
		<constructor-arg value="classpath:applicationContext.properties" />
	</bean>

</beans>


